<div class="container-profile">
    <div class="card-profile">
    <div id="header-profile">
        <img src={{oneUser.imgProfile}} alt="Foto del perfil">
    </div>
        <section id="section-profile">
            <h2>{{oneUser.name}}</h2>
            <p>{{oneUser.description}}</p>
            <ul id="ul-profile">
                <li>
                    <a href="{{oneUser.redes}}" class="boton-redes instagram fab fa-instagram" target="_blank"></a>
                </li>
            </ul>
        </section>
        <footer id="footer-profile">
            {{#if isUser}}
                <form id="botondelete" action="/{{oneUser._id}}/profile-delete" method="POST">
                    <button id="btnDelete">Delete</button>
                </form>
            {{/if}}
        </footer>
</div>
</div>