<div id="form_signIn">


<form action="/create-profile" method="POST" id="form_Contenedor" enctype="multipart/form-data">
  
  <div class="form">

    <h2>Create Profile</h2>

  
      <div class="grupo">
        <input id="name_Input" type="text" name="name" value="{{oneDrag.name}}" /><span class="barra"></span>
        <label class="label_signIn"> Name</label>
      </div>
    

      <div class="grupo">
        <input id="email_Input" type="text" name="description" value="{{oneDrag.description}}"/><span class="barra"></span>
        <label class="label_signIn"> Description</label>
      </div>  

      <div class="grupo">
        <input id="email_Input" type="text" name="redes" value="{{oneDrag.redes}}" /><span class="barra"></span>
        <label class="label_signIn">Red Social</label>
      </div>  
        
      <label for="imgProfile"> Imagen 
      <input type="file" name="imgProfile" value="{{oneDrag.imgProfile}}" >
    </label>

      

    <button id="btn-createAccount" type="submit">Create Profile</button>
    
        {{!-- error message will be added here --}}
        {{#if errorMessage}}
            <p>{{errorMessage}}</p>
        {{/if}}

      
 </div>
</form>


</div>